// out: styles.css, compress: true, strictMath: true
/*
 * Place CSS here
 */
@red:#d73737;
@blue:#8fddff;
@grey:#999580;
@dark:#444749;
@darker:#3d3f41;


.dropdownbutton-popup{
    &.dropdown-github-branch{
        margin-top:-6px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        li{
            a{
                .checked-branch{
                    &:before{
                        content:"✓";
                        margin-left:-11px;
                        margin-right:3px;
                    }
                }
            }
        }
    }
}

#status-indicators{
    #githubnfo{
        margin:0;
        padding:0 0 0 20px !important;
        background:url( images/github_icon_white-15x15.png ) no-repeat 5px center transparent;
        .btn-status-bar{
            color:@blue;
        }
    }
}
